In [1]:
import geopandas as gpd
import pandas as pd
import numpy as np
from shapely.geometry import Point
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
## Census Data

file_path = '/Users/ashlyn/Desktop/DATA 6550/tl_2024_27_tract/tl_2024_27_tract.shp'

mn_tracts = gpd.read_file(file_path)

mn_tracts.head()

,STATEFP,COUNTYFP,TRACTCE,GEOID,GEOIDFQ,NAME,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
0,27,037,060604,27037060604,1400000US27037060604,606.04,Census Tract 606.04,G5020,S,4613279,340988,+44.8897427,-093.1444899,"POLYGON ((-93.1795 44.88828, -93.17944 44.8883..."
1,27,037,060709,27037060709,1400000US27037060709,607.09,Census Tract 607.09,G5020,S,3752455,209321,+44.7590705,-093.3168753,"POLYGON ((-93.32873 44.76118, -93.32873 44.761..."
2,27,037,060716,27037060716,1400000US27037060716,607.16,Census Tract 607.16,G5020,S,3782700,292715,+44.8242789,-093.1831132,"POLYGON ((-93.19843 44.82719, -93.19711 44.828..."
3,27,037,060717,27037060717,1400000US27037060717,607.17,Census Tract 607.17,G5020,S,11752836,552732,+44.8465754,-093.1305462,"POLYGON ((-93.1641 44.8336, -93.16134 44.83731..."
4,27,037,060710,27037060710,1400000US27037060710,607.10,Census Tract 607.10,G5020,S,10213320,361502,+44.7779970,-093.3059622,"POLYGON ((-93.32978 44.77802, -93.32967 44.778..."

In [3]:
## Census Data

mn_tracts.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 1505 entries, 0 to 1504
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   STATEFP   1505 non-null   object
 1   COUNTYFP  1505 non-null   object
 2   TRACTCE   1505 non-null   object
 3   GEOID     1505 non-null   object
 4   GEOIDFQ   1505 non-null   object
 5   NAME      1505 non-null   object
 6   NAMELSAD  1505 non-null   object
 7   MTFCC     1505 non-null   object
 8   FUNCSTAT  1505 non-null   object
 9   ALAND     1505 non-null   int64
 10  AWATER    1505 non-null   int64
 11  INTPTLAT  1505 non-null   object
 12  INTPTLON  1505 non-null   object
 13  geometry  1505 non-null   geometry
dtypes: geometry(1), int64(2), object(11)
memory usage: 164.7+ KB

In [4]:
hennepin_tracts = mn_tracts[mn_tracts['COUNTYFP'] == '053']

In [5]:
## Mortgage data from 2023

file_path = '/Users/ashlyn/Desktop/DATA 6550/data/state_MN.csv'

mortgage_data = gpd.read_file(file_path)

mortgage_data.head()

,activity_year,lei,derived_msa-md,state_code,county_code,census_tract,conforming_loan_limit,derived_loan_product_type,derived_dwelling_category,derived_ethnicity,...,denial_reason-2,denial_reason-3,denial_reason-4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units
0,2023,549300JOT0D4J0SZIK67,33460,MN,27037,27037060737,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,,,,5078,40.37,124300,73.48,1473,1184,39
1,2023,549300JOT0D4J0SZIK67,99999,MN,27115,27115950600,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,,,,4684,13.11,90400,101.29,1496,2260,30
2,2023,549300JOT0D4J0SZIK67,33460,MN,27141,27141030504,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,,,,5506,10.64,124300,121.26,1390,1559,27
3,2023,549300JOT0D4J0SZIK67,99999,MN,27023,27023950400,C,FSA/RHS:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,,,,2344,8.92,90400,90.13,706,958,64
4,2023,549300JOT0D4J0SZIK67,33460,MN,27171,27171100101,C,VA:First Lien,Single Family (1-4 Units):Manufactured,Ethnicity Not Available,...,,,,8453,13.27,124300,104.37,2125,2454,19

In [6]:
## Mortgage data from 2023

mheaders = mortgage_data.columns
mheaders

Index(['activity_year', 'lei', 'derived_msa-md', 'state_code', 'county_code',
       'census_tract', 'conforming_loan_limit', 'derived_loan_product_type',
       'derived_dwelling_category', 'derived_ethnicity', 'derived_race',
       'derived_sex', 'action_taken', 'purchaser_type', 'preapproval',
       'loan_type', 'loan_purpose', 'lien_status', 'reverse_mortgage',
       'open-end_line_of_credit', 'business_or_commercial_purpose',
       'loan_amount', 'loan_to_value_ratio', 'interest_rate', 'rate_spread',
       'hoepa_status', 'total_loan_costs', 'total_points_and_fees',
       'origination_charges', 'discount_points', 'lender_credits', 'loan_term',
       'prepayment_penalty_term', 'intro_rate_period', 'negative_amortization',
       'interest_only_payment', 'balloon_payment',
       'other_nonamortizing_features', 'property_value', 'construction_method',
       'occupancy_type', 'manufactured_home_secured_property_type',
       'manufactured_home_land_property_interest', 'total_units',
       'multifamily_affordable_units', 'income', 'debt_to_income_ratio',
       'applicant_credit_score_type', 'co-applicant_credit_score_type',
       'applicant_ethnicity-1', 'applicant_ethnicity-2',
       'applicant_ethnicity-3', 'applicant_ethnicity-4',
       'applicant_ethnicity-5', 'co-applicant_ethnicity-1',
       'co-applicant_ethnicity-2', 'co-applicant_ethnicity-3',
       'co-applicant_ethnicity-4', 'co-applicant_ethnicity-5',
       'applicant_ethnicity_observed', 'co-applicant_ethnicity_observed',
       'applicant_race-1', 'applicant_race-2', 'applicant_race-3',
       'applicant_race-4', 'applicant_race-5', 'co-applicant_race-1',
       'co-applicant_race-2', 'co-applicant_race-3', 'co-applicant_race-4',
       'co-applicant_race-5', 'applicant_race_observed',
       'co-applicant_race_observed', 'applicant_sex', 'co-applicant_sex',
       'applicant_sex_observed', 'co-applicant_sex_observed', 'applicant_age',
       'co-applicant_age', 'applicant_age_above_62',
       'co-applicant_age_above_62', 'submission_of_application',
       'initially_payable_to_institution', 'aus-1', 'aus-2', 'aus-3', 'aus-4',
       'aus-5', 'denial_reason-1', 'denial_reason-2', 'denial_reason-3',
       'denial_reason-4', 'tract_population',
       'tract_minority_population_percent',
       'ffiec_msa_md_median_family_income', 'tract_to_msa_income_percentage',
       'tract_owner_occupied_units', 'tract_one_to_four_family_homes',
       'tract_median_age_of_housing_units'],
      dtype='object')

In [7]:
## Mortgage data from 2023

mortgage_data.shape

(174738, 99)

In [8]:
## Mortgage data from 2023

mortgage_data = mortgage_data[mortgage_data['loan_purpose'] == 1]

### filter the loans to only be mortgages

In [9]:
file_path = '/Users/ashlyn/Desktop/DATA 6550/data/Hennepin_County_Racial_Covenants_Table.csv'

covenent = gpd.read_file(file_path)
covenent.head()

,FID,Doc_ID,Deed_ID,Racial_Res,Type_Res,Addition,City,Block,Lot,Grantor,...,Date_Deed,Date_Ex,Ex_Year,Join_ID,Workflow,Rel_Score,X,Y,Address,Distance
0,49,A773853,782_0191,No lots in this tract shall be sold or leased ...,NA,LATHAMS MINNETONKA BLVD TRACT,ST. LOUIS PARK,2,2,Albert C. & Helen R. Jerome,...,10/13/1915,7/31/1915 0:00,1915,LATHAMS MINNETONKA BLVD TRACT 2 2,Zooniverse -- Abstracts,6.334158823,-93.34578024,44.95182267,"5201 28th Street West, Saint Louis Park, 55416",1.02267222
1,52,A2376250,1687_0285,"No lot, plot, or parcel shall be sold, leased,...",NA,EDINA HIGHLANDS,EDINA,1,33,Frank J. Hannan,...,6/21/1946,6/19/1946 0:00,1946,EDINA HIGHLANDS 1 33,Zooniverse -- Abstracts,6.522148932,-93.36129742,44.90583662,"24 Address Unassigned, Edina, 55436",3.27298356
2,96,A1974111,1449_0279,"No lot, plot, or parcel shall be sold, leased,...",NA,SOUTH WHITE OAKS ADDN,EDINA,1,1,George A. Specht and Casimira Specht,...,5/25/1939,5/25/1939 0:00,1939,SOUTH WHITE OAKS ADDN 1 1,Zooniverse -- Abstracts,6.522148932,-93.33199805,44.91587472,"4801 Townes Road, Edina, 55424",0
3,229,M1645505,,"premises shall not be sold, or leased, or occu...",NA,WILCOX PARK MPLS,MINNEAPOLIS,3,9,Florence H. & Charles S. Brearly,...,6/10/1931,6/14/1930 0:00,1930,WILCOX PARK MPLS 3 9,Manual,0,-93.31142311,45.03225707,"4233 Russell Avenue North, Minneapolis, 55412",0.19121998
4,247,A1556488,1188_0100,no person or persons other than of the Caucasi...,NA,NOKOMIS SOUTH PARK ADDN TO MPLS,MINNEAPOLIS,8,20,George Pahl and Sophia Pahl,...,8/29/1929,5/21/1929 0:00,1929,NOKOMIS SOUTH PARK ADDN TO MPLS 8 20,Zooniverse -- Abstracts,6.334158823,-93.23324648,44.90227124,"5543 27th Avenue South, Minneapolis, 55417",1.28148487

In [10]:
cheaders = covenent.columns
cheaders

Index(['FID', 'Doc_ID', 'Deed_ID', 'Racial_Res', 'Type_Res', 'Addition',
       'City', 'Block', 'Lot', 'Grantor', 'Grantee', 'Date_Deed', 'Date_Ex',
       'Ex_Year', 'Join_ID', 'Workflow', 'Rel_Score', 'X', 'Y', 'Address',
       'Distance'],
      dtype='object')

In [11]:
covenent_slim = covenent[['FID', 'Racial_Res', 'Date_Deed', 'X', 'Y']]

### We need to make our data sets a bit more manageable before merging

In [12]:
mortgage_slim = mortgage_data[[
    'activity_year',
    'census_tract',
    'derived_race',
    'action_taken',
    'loan_amount',
    'property_value',
    'income',
    'interest_rate',
    'tract_minority_population_percent',
    'tract_to_msa_income_percentage',
    'denial_reason-1'
]]

In [13]:
## Merging the 2 datasets

geometry = [Point(xy) for xy in zip(covenent_slim['X'], covenent_slim['Y'])]
covenant_gdf = gpd.GeoDataFrame(covenent_slim, geometry=geometry)
covenant_gdf.set_crs(epsg=4326, inplace=True)  # WGS84 decimal degrees

print("Original covenant points:", len(covenant_gdf))

# Transform to match the tracts CRS (UTM Zone 15N)
covenant_gdf = covenant_gdf.to_crs(epsg=26915)

# Quick check of transformed coordinates
print("\nTransformed coordinate ranges:")
print("X range:", covenant_gdf.geometry.x.min(), "to", covenant_gdf.geometry.x.max())
print("Y range:", covenant_gdf.geometry.y.min(), "to", covenant_gdf.geometry.y.max())

# Verify these points fall within tract bounds
tract_bounds = hennepin_tracts.total_bounds
print("\nTract bounds:")
print("X range:", tract_bounds[0], "to", tract_bounds[2])
print("Y range:", tract_bounds[1], "to", tract_bounds[3])

# Perform spatial join with transformed coordinates
covenants_with_tracts = gpd.sjoin(covenant_gdf, hennepin_tracts, how='left', predicate='within')

# See how many points matched to tracts
print("\nPoints that matched to tracts:", len(covenants_with_tracts))
print("Points with null tract assignments:", covenants_with_tracts['TRACTCE'].isna().sum())

# Count covenants per tract
covenants_per_tract = covenants_with_tracts.dropna(subset=['TRACTCE']).groupby('TRACTCE').size().reset_index(name='covenant_count')

print("\nTract Summary:")
print("Number of tracts with covenants:", len(covenants_per_tract))
if len(covenants_per_tract) > 0:
    print("\nCovenant counts per tract:")
    print(covenants_per_tract['covenant_count'].describe())

Original covenant points: 24119

Transformed coordinate ranges:
X range: 446281.946653618 to 483902.6287368457
Y range: 4960740.396902054 to 5002300.463783715

Tract bounds:
X range: -93.768385 to -93.177218
Y range: 44.785106 to 45.246618

Points that matched to tracts: 24119
Points with null tract assignments: 24119

Tract Summary:
Number of tracts with covenants: 0

/var/folders/cj/cjdxh9gx5rlf7f22zlbg28mr0000gn/T/ipykernel_57783/3198568911.py:24: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: EPSG:26915
Right CRS: EPSG:4269

  covenants_with_tracts = gpd.sjoin(covenant_gdf, hennepin_tracts, how='left', predicate='within')

In [17]:
def format_census_tract(value):
    try:
        # First convert to string to handle any type
        tract_str = str(value)
        # Remove any decimal points and trailing zeros
        tract_str = tract_str.split('.')[0]
        return tract_str
    except Exception as e:
        print(f"Error processing value: {value}, Type: {type(value)}")
        raise e

# Create a clean copy and try the conversion
mortgage_clean = mortgage_slim.copy()
mortgage_clean['census_tract'] = mortgage_clean['census_tract'].astype(str)
mortgage_clean['census_tract'] = mortgage_clean['census_tract'].apply(format_census_tract)

# Let's see what we got
print("\nAfter cleaning:")
print(mortgage_clean['census_tract'].head())

After cleaning:
Series([], Name: census_tract, dtype: object)

In [19]:
# Clean mortgage data - first ensure we have strings
mortgage_clean = mortgage_slim.copy()
mortgage_clean['census_tract'] = mortgage_clean['census_tract'].astype(str)
mortgage_clean['census_tract'] = mortgage_clean['census_tract'].str.replace('.0', '')

# Clean mortgage data - first ensure we have strings
mortgage_clean = mortgage_slim.copy()
mortgage_clean['census_tract'] = mortgage_clean['census_tract'].astype(str)
mortgage_clean['census_tract'] = mortgage_clean['census_tract'].str.replace('.0', '')



# First format the covenant census tract IDs
covenants_with_tracts['census_tract'] = (
    covenants_with_tracts['STATEFP'] + 
    covenants_with_tracts['COUNTYFP'] + 
    covenants_with_tracts['TRACTCE']
)

# Create the per-tract counts
covenants_per_tract = covenants_with_tracts.groupby('census_tract').size().reset_index(name='covenant_count')

# Clean the mortgage data
mortgage_clean = mortgage_slim.copy()
mortgage_clean['census_tract'] = mortgage_clean['census_tract'].astype(str).str.replace('.0', '')

# Verify the formats match
print("Mortgage data examples:")
print(mortgage_clean['census_tract'].head())
print("\nCovenant data examples:")
print(covenants_per_tract['census_tract'].head())






# Merge the datasets
combined_data = mortgage_clean.merge(
    covenants_per_tract,
    on='census_tract',
    how='left'
)

# Fill NaN covenant counts with 0
combined_data['covenant_count'] = combined_data['covenant_count'].fillna(0)

# Basic Analysis
print("\nMerge Results:")
print("Total mortgage applications:", len(combined_data))
print("Applications in tracts with covenants:", (combined_data['covenant_count'] > 0).sum())
print("Unique tracts with covenants:", combined_data[combined_data['covenant_count'] > 0]['census_tract'].nunique())

# Calculate approval rates
combined_data['was_approved'] = combined_data['action_taken'].isin([1, 2])
covenant_areas = combined_data['covenant_count'] > 0

print("\nApproval Rates:")
print("Tracts with no covenants:", 
      combined_data[~covenant_areas]['was_approved'].mean())
print("Tracts with covenants:", 
      combined_data[covenant_areas]['was_approved'].mean())

Mortgage data examples:
Series([], Name: census_tract, dtype: object)

Covenant data examples:
Series([], Name: census_tract, dtype: object)

Merge Results:
Total mortgage applications: 0
Applications in tracts with covenants: 0
Unique tracts with covenants: 0

Approval Rates:
Tracts with no covenants: nan
Tracts with covenants: nan

In [21]:
combined_data.columns

Index(['activity_year', 'census_tract', 'derived_race', 'action_taken',
       'loan_amount', 'property_value', 'income', 'interest_rate',
       'tract_minority_population_percent', 'tract_to_msa_income_percentage',
       'denial_reason-1', 'covenant_count', 'was_approved'],
      dtype='object')

In [25]:
## Ramsay County

Ramsay = mn_tracts[mn_tracts['COUNTYFP'] == '123']
Ramsay.head()

,STATEFP,COUNTYFP,TRACTCE,GEOID,GEOIDFQ,NAME,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
124,27,123,040102,27123040102,1400000US27123040102,401.02,Census Tract 401.02,G5020,S,5810969,3545673,+45.1150726,-093.0093805,"POLYGON ((-93.03584 45.09738, -93.03317 45.097..."
125,27,123,040804,27123040804,1400000US27123040804,408.04,Census Tract 408.04,G5020,S,3309782,1257720,+45.0454768,-093.1591990,"POLYGON ((-93.17755 45.04262, -93.17753 45.042..."
126,27,123,040101,27123040101,1400000US27123040101,401.01,Census Tract 401.01,G5020,S,7508445,910515,+45.1070109,-093.0401804,"POLYGON ((-93.05678 45.12401, -93.05642 45.124..."
127,27,123,040708,27123040708,1400000US27123040708,407.08,Census Tract 407.08,G5020,S,2940007,678592,+45.0735909,-093.1325218,"POLYGON ((-93.14738 45.07939, -93.14613 45.079..."
128,27,123,040709,27123040709,1400000US27123040709,407.09,Census Tract 407.09,G5020,S,3242565,107945,+45.0660386,-093.1162382,"POLYGON ((-93.14722 45.0647, -93.1451 45.06471..."